# NLP Prepare Exercises
The end result of this exercise should be a file named prepare.py that defines the requested functions.

In this exercise we will be defining some functions to prepare textual data. These functions should apply equally well to both the codeup blog articles and the news articles that were previously acquired.

In [1]:
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd

import acquire

1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:
    - Lowercase everything
    - Normalize unicode characters
    - Replace anything that is not a letter, number, whitespace or a single quote.

In [2]:
# get data 

df = acquire.get_blog_articles()

In [3]:
df

,title,content
0,Codeup’s Data Science Career Accelerator is He...,The rumors are true! The time has arrived. Cod...
1,Data Science Myths - Codeup,By Dimitri Antoniou and Maggie GiustData Scien...
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri AntoniouA week ago, Codeuplaunched ..."
3,10 Tips to Crush It at the SA Tech Job Fair - ...,SA Tech Job FairThe third bi-annualSan Antonio...
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...

In [4]:
for col in list(df):
    print(df[col].str.lower())

0    codeup’s data science career accelerator is he...
1                          data science myths - codeup
2    data science vs data analytics: what’s the dif...
3    10 tips to crush it at the sa tech job fair - ...
4    competitor bootcamps are closing. is the model...
Name: title, dtype: object
0    the rumors are true! the time has arrived. cod...
1    by dimitri antoniou and maggie giustdata scien...
2    by dimitri antonioua week ago, codeuplaunched ...
3    sa tech job fairthe third bi-annualsan antonio...
4    competitor bootcamps are closing. is the model...
Name: content, dtype: object

In [5]:
for col in list(df):
    for i in range(df.shape[0]):
        print(unicodedata.normalize('NFKD', df[col][i])\
        .encode('ascii', 'ignore')\
        .decode('utf-8', 'ignore'))

Codeups Data Science Career Accelerator is Here! - Codeup
Data Science Myths - Codeup
Data Science VS Data Analytics: Whats The Difference? - Codeup
10 Tips to Crush It at the SA Tech Job Fair - Codeup
Competitor Bootcamps Are Closing. Is the Model in Danger? - Codeup
The rumors are true! The time has arrived. Codeup has officially opened applications to our new Data Science career accelerator, with only 25 seats available! This immersive program is one of a kind in San Antonio, and will help you land a job inGlassdoors #1 Best Job in America.Data Science is a method of providing actionable intelligence from data.The data revolution has hit San Antonio,resulting in an explosion in Data Scientist positionsacross companies like USAA, Accenture, Booz Allen Hamilton, and HEB. Weve even seenUTSA invest $70 M for a Cybersecurity Center and School of Data Science.We built a program to specifically meet the growing demands of this industry.Our program will be 18 weeks long, full-time, hands-on, and project-based. Our curriculum development and instruction is led by Senior Data Scientist, Maggie Giust, who has worked at HEB, Capital Group, and Rackspace, along with input from dozens of practitioners and hiring partners. Students will work with real data sets, realistic problems, and the entire data science pipeline from collection to deployment. They will receive professional development training in resume writing, interviewing, and continuing education to prepare for a smooth transition to the workforce.We focus on applied data science for immediate impact and ROI in a business, which is how we can back it all up with a 6 month tuition refund guarantee  just like our existing Web Dev program. Were focusing on Data Science with Python, SQL, and ML, covered in14 modules: 1) Fundamentals; 2) Applied statistics; 3) SQL; 4) Python; 5) Supervised machine learning  regression; 6) Supervised machine learning  classification; 7) Unsupervised machine learning  clustering; 8) Time series analysis; 9) Anomaly detection; 10) Natural language processing; 11) Distributed machine learning; 12) Advanced topics (deep learning, NoSQL, cloud deployment, etc.); 13) Storytelling with data; and 14) Domain expertise development.Applications are now openfor Codeups first Data Science cohort, which will start class on February 4, 2019. Hurry  there are only 25 seats available! To further our mission of cultivating inclusive growth, scholarships will be available to women, minorities, LGBTQIA+ individuals, veterans, first responders, and people relocating to San Antonio.If you want to learn aboutjoining our programorhiring our graduates, email datascience@codeup.com!
By Dimitri Antoniou and Maggie GiustData Science, Big Data, Machine Learning, NLP, Neural Networks...these buzzwords have rapidly spread into mainstream use over the last few years. Unfortunately, definitions are varied and sources of truth are limited. Data Scientists are in factnotmagical unicorn wizards who can snap their fingers and turn a business around!Today, well take a cue from our favorite Mythbusters to tackle some common myths and misconceptions in the field of Data Science.Myth #1: Data Science = StatisticsAt first glance, this one doesnt sound unreasonable. Statistics is defined as, A branch of mathematics dealing with the collection, analysis, interpretation, and presentation of masses of numerical data. That sounds a lot likeour definition of Data Science: a method of drawing actionable intelligence from data.In truth, statistics is actually one small piece of Data Science. As our Senior Data Scientist puts it, Statistics forces us to make assumptions about the nature of the relationship between variables, the distribution of the data, etc.In the traditional Data Science venn diagram, youll see that math/stats make up 13 of a working professional. These are tools and skills to leverage, but data science itself is about drawing intelligence from data.BUSTEDvia GIPHYMyth #2: Data Scientist = Business/Data AnalystThis one is so common that we wrote a whole post about it!These are separate and different roles within the data field. While a data scientist will often do analytics, their spectrum of work is wider. A data analyst will use structured data to create dashboards and KPIs, while a Data Scientist deals with unstructured and messy data for a range of outputs. If theyre interested, business analysts will often progress to data scientists.BUSTEDvia GIPHYMyth #3: Data Science = Data ScienceThis ones tricky, because its impossible to either confirm or bust! The myth is that one person or company using the term Data Science is not necessarily the same asanotherperson or company using the same term. Depending on organizational capacity, individual experience, educational background, and many other variables, we might be using the same name for different animals.Tl;dr: dont assume a common understanding across hiring managers, recruiters, and practitioners. Look instead for specifics of tools, techniques, methodologies, and outputs. That being said, this one falls in the plausible category, because it may actually be true in some circumstances, while false in others.PLAUSIBLEvia GIPHYMyth #4: Data Science curricula are well-defined and consistent.We recommend checking this one out for yourself! A quick google search for bootcamps, masters degree programs, and online courses will reveal that different organizations teach different things. There is no commonly accepted framework for teaching data science! Some focus more on the engineering, others focus more on machine learning, some think deep learning is foundational, and some prefer to use R.Our curriculum was built through employer interviews, practitioner interviews, market research, and company partnerships. But were based in Texas! A bootcamp in New York might follow the same process and end up with a different syllabus. Keep in mind, whatever your learning path, that there will be gaps in your learning. The most important thing is to recognize those gaps.BUSTEDvia GIPHYMyth #5: If I want to be a data scientist, I just need to learn Python or R.This one is common and dangerous! Just like statistics, programming languages like Python and R aretools. Theyre just pieces of a larger puzzle! Knowing Python without understanding the data science pipeline is like knowing how to build a floor without having a floor plan. Of course, these are valuable technical skills that give you a leg up, but theyre second in importance to asking the right questions, knowing what tools to use when, and communicating your findings.BUSTEDvia GIPHYStill have questions?Reach out to us!Were always here to help.
By Dimitri AntoniouA week ago, Codeuplaunched our immersive Data Science career accelerator! With our first-class kicking off in February and only 25 seats available, weve been answering a lot of questions from prospective students. One, in particular, has come up so many times we decided to dedicate a blog post to it.What is the difference between data science and data analytics?First, lets define some of our terms! Take a look atthis blogto understand what Data Science is. In short, it is a method of turning raw data into action, leading to the desired outcome. Big Data refers to data sets that are large and complex, usually exceeding the capacity of computers and normal processing power to deal with.Machine Learning is the process of learning underlying patterns of data in order to automate the extraction of intelligence from that data.Now, lets look at the data pipeline that data scientists work through to reach the actionable insights and outcomes we mentioned:We start by collectingdata, which may come from social media channels, network logs, financials, employee records, or more.We then process that data into usableinformationstored in databases or streamed.Next, we look back on the history of that data to summarize, describe, and explain, turning the data into meaningfulknowledge. Here were primarily using mathematics, statistics, and visualization methods.Now we convert that knowledge intointelligence, seeking to predict future events so that we can make decisions in the present. This is where practitioners will introduce mathematical/statistical modeling through machine learning to their data.Finally, we enableactionby building automations, running tests, building visualizations, monitoring new data, etc.Data professionals work at different stages of the spectrum to move data through the pipeline. On the left, Big Data Engineers specialize in collecting, storing, and processing data, getting it from Data to Information. In the middle, analysts work to understand and convert that information to knowledge. Lastly, a Machine Learning Engineer utilizes machine learning algorithms to turn intelligence into action by building automations, visualizations, recommendations, and predictions.Data Scientists span multiple stages of this pipeline, from information to action. They will spend about 70% of their time wrangling data in the information stage. They will conduct a statistical analysis to derive knowledge. Lastly, they predict future events and build automations using machine learning.For those technical folk out there, data science is to data engineering or machine learning engineering as full-stack development is to front-end or back-end development. For the non-technical folk, data science is the umbrella term that houses data analytics, machine learning, and other data professions.So whats the biggest difference between a data analyst and a data scientist?Data scientists utilize computer programming and machine learning in addition to mathematics and statistics.Still have questions?Reach out to us.Wondering which of Codeups programs is right for you?Weve got you covered. And of course, if data science gets you excited,get started with us today!
SA Tech Job FairThe third bi-annualSan Antonio Tech Job Fairis just around the corner.Over 25 companies will be at The Jack Guenther Pavilion on April 10th, and they are hungry for new tech team members!At the job fair, companies want to quickly source a list of new talent leads. AKA they need to find qualified employees they can begin interviewing for jobs. Recruiters will represent their organization at tables with informational handouts and company swag.Your goal at a job fair is to set yourself apart from other candidates and ensure your name makes it to the top of those lead lists.Think of your interaction with the company as a mini screening interview. The company rep will subtly evaluate basic qualities like your professionalism, communication and interpersonal skills, work experience, and interest level in the organization. Job fairs are also an opportunity for you to gain information about companies that may not be easily accessible online.AtCodeup, were passionate about bridging the gap between talent and demand, so weve outlined 10 tips to ensure you bring your A-game and leave a lasting impression!10 Tips for Totally Crushing it at the SA Tech Job FairUse keywords to describe your skills, but dont go overboard.Youll probably be talking to a recruiter or talent acquisition specialist. As a technical candidate, recognize these individuals usually arent developers or network administrators. They know terms like JavaScript and Apache, but havent written a line of code or spun up a server, so dont get too caught up in industry jargon.Research the companies ahead of time.Review the list of attending companies and make sure you know what the company does and whether or not they hire people in your desired role. Look up recent news on the company and mention it during your conversation.Define your own goals for the job fair. Are you searching for a specific type of role or company culture? What matters most in your job search? Are there companies you want to prioritize?  Develop a game plan and be intentional with your time.Prepare a stellar resume.Bring about 20 copies of your resume to the event, printed on nice paper. We wont cover resume writing in this post, but there are a plethora of online resources you can consult. For job fairs, dont worry about cover letters.Polish your online profiles.If recruiters have a copy of your resume, you can be sure they will stalk you online soon. Make sure your online presence is professional and appropriate. A good place to start is by Googling yourself. Update your LinkedIn, and clean up any social media profiles.Craft a 30-60 second elevator pitch.You may only have a few minutes with an employer. What will you say if they ask, Tell me about yourself? Consider structuring your pitch like this: Who you are + What you do + What your goals are + Why that matters to the company.Dont show up in a t-shirt, but trade in your suit for something more chill.Always keep it professional, but remember: tech is typically more casual than other industries. Youll likely feel out of place if you look like you belong on Wall St., so refer to this guide ondressing for tech interviews.Dont forget the basics.Start and end each conversation with a firm handshake. Make eye contact while conversing. Smile! Thank the recruiter before you move on to the next table.Ask educated questions. Dont waste valuable face time with recruiters by asking questions like, What does [Insert Company here] do? They hate that question! Instead, try some of these:What are the top 3-5 examples of knowledge, skills, and abilities you look for in candidates?Whats the best advice you have for someone who wants to work here?What is your interview process like?Are you hiring for any roles not currently listed on your websites?Follow up.Collect business cards from each table. The next day, send a short note expressing your interest in the companys opportunities and thanking the recruiter for his or her time.RSVPfor the SA Tech Job Fair taking place at the Jack Guenther Pavilion  September 18th starting at 4 pm.
Competitor Bootcamps Are Closing. Is the Model in Danger?Is the programming bootcamp model in danger?In recent news, DevBootcamp and The Iron Yard announced that they are closing their doors. This is big news. DevBootcamp was the first programming bootcamp model and The Iron Yard is a national player with 15 campuses across the U.S. In both cases, the companies cited an unsustainable business model. Does that mean the boot-camp model is dead?tl;dr Nope!Bootcamps exist because traditional education models have failed to provide students job-ready skills for the 21st century. Students demand better employment options from their education. Employers demand skilled and job ready candidates. Big Educations failure to meet those needs through traditional methods created the fertile ground for the new business model of the programming bootcamp.Education giant Kaplan and Apollo Education Group (owner of University of Phoenix) bought their way into this new educational model when they purchased The Iron Yard and DevBootcamp. They purchased their competition with the intent to scale up the model. Unfortunately, Big Education is too habituated to coming up short for students. They bought the upstarts that challenged them, tried making changes to run those bootcamps in the Big Education way, and, sadly, theyve closed the doors when they realized that scaling education is more challenging when student outcomes truly matter.The bootcamp model is still new and there will be plenty consolidation, competition, and changes in the future. This model is based onactuallybeing adaptive, innovative, and sustainable. And theres always room for innovation.What weve learned at Codeup...Education is challenging to scale.Prioritizing quality over growth pays off.What were doing at Codeup...Higher standards in our application process are leading to better student outcomes.Our reputation and commitment to quality is opening new doors to previously uninterested/unreachable employers.In the beginning, the majority of Codeup graduates went to work with startups and small businesses. Were now seeing a larger amount of our graduates place at medium to large sized businesses.Demand is growing and employers are learning that the results are in the graduates.Codeups model is sustainable, inclusive, and works.Call orcontact us todayto see how Codeups commitment to quality and approach to being a career accelerator can make a profound difference in your life.

In [6]:
test_string = df.title[2].lower()
re.sub(r"[^a-z0-9'\s]", '', test_string)

'data science vs data analytics whats the difference  codeup'

In [7]:
def basic_clean_whole_df(df):
    '''
    This function takes in a dataframe (with the columns you need cleaned)
    Lowercases everything
    Normalizes the unicode
    And removes eveyrhint that's not a number, letter, ', or whitespace
    returns a dataframe
    '''
    
    # loop through columns turn everything into lower case
    # works with series
    for col in list(df):
        df[col] = df[col].str.lower()
        
        # loop through each element in column for encoding and replacement
        for i in range(df.shape[0]):
            
            # normalize unicode 
            df[col][i] = unicodedata.normalize('NFKD', df[col][i])\
            .encode('ascii', 'ignore')\
            .decode('utf-8', 'ignore')
            
            # remove everything thats not a number letter ' or whitespace
            df[col][i] = re.sub(r"[^a-z0-9'\s]", '', df[col][i])
            
    # return dataframe                           
    return df

In [8]:
# rewrite function but to take in string and return string
# then use vectorized operation to go through df aka use .apply

def basic_clean(string):
    '''
    This function takes in a string
    Lowercases everything
    Normalizes the unicode
    And removes eveyrhint that's not a number, letter, ', or whitespace
    Returns a string
    can be used with .apply for a dataframe
    '''
    # loop through columns turn everything into lower case
    # works with series
    new_string = string.lower()
            
    # normalize unicode 
    new_string =  unicodedata.normalize('NFKD', new_string)\
    .encode('ascii', 'ignore')\
    .decode('utf-8', 'ignore')
    
    # remove everything thats not a number letter ' or whitespace
    new_string = re.sub(r"[^a-z0-9'\s]", '', new_string)
    
    return new_string

In [9]:
df['title'].apply(basic_clean)

0    codeups data science career accelerator is her...
1                           data science myths  codeup
2    data science vs data analytics whats the diffe...
3    10 tips to crush it at the sa tech job fair  c...
4    competitor bootcamps are closing is the model ...
Name: title, dtype: object

In [10]:
df['title_basic_clean'] = df['title'].apply(basic_clean)

df['content_basic_clean'] = df['content'].apply(basic_clean)

In [11]:
df.head()

,title,content,title_basic_clean,content_basic_clean
0,Codeup’s Data Science Career Accelerator is He...,The rumors are true! The time has arrived. Cod...,codeups data science career accelerator is her...,the rumors are true the time has arrived codeu...
1,Data Science Myths - Codeup,By Dimitri Antoniou and Maggie GiustData Scien...,data science myths codeup,by dimitri antoniou and maggie giustdata scien...
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri AntoniouA week ago, Codeuplaunched ...",data science vs data analytics whats the diffe...,by dimitri antonioua week ago codeuplaunched o...
3,10 Tips to Crush It at the SA Tech Job Fair - ...,SA Tech Job FairThe third bi-annualSan Antonio...,10 tips to crush it at the sa tech job fair c...,sa tech job fairthe third biannualsan antonio ...
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...,competitor bootcamps are closing is the model ...,competitor bootcamps are closing is the model ...

2. Define a function named tokenize. It should take in a string and tokenize all the words in the string.
```python
def tokenizer(string):
    
    # do something
    
    return tokenized_string
```

In [12]:
tokenizer = nltk.tokenize.ToktokTokenizer()

print(tokenizer.tokenize(df.title[1], return_str=True))

Data Science Myths - Codeup

In [13]:
def tokenize_me(string):
    '''
    This function takes in a string 
    Returns the tokenized string
    Can be used with .apply to apply to dataframe
    '''
    # make tokenizer
    tokenizer = nltk.tokenize.ToktokTokenizer()
    
    # tokenize string and assign to new_string
    new_string = tokenizer.tokenize(string, return_str=True)
    
    # return new_string
    return new_string

In [14]:
# test
df['title_basic_clean'].apply(tokenize_me)

0    codeups data science career accelerator is her...
1                            data science myths codeup
2    data science vs data analytics whats the diffe...
3    10 tips to crush it at the sa tech job fair co...
4    competitor bootcamps are closing is the model ...
Name: title_basic_clean, dtype: object

In [15]:
# add columns to df

df['title_tokenized'] = df['title_basic_clean'].apply(tokenize_me)

df['content_tokenized'] = df['content_basic_clean'].apply(tokenize_me)

3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [16]:
def stem(string):
    '''
    Function takes in a string
    Returns string stems 
    Uses Porter Stemmer
    can be used with .apply for dataframes
    '''
    # create stemmer
    ps = nltk.porter.PorterStemmer()
    
    # get the stems from string in list
    stems = [ps.stem(word) for word in string.split()]
    
    # join all words in string with a space
    string_stemmed = ' '.join(stems)
    
    return string_stemmed

In [17]:
# test 
df['title_tokenized'].apply(stem)

0     codeup data scienc career acceler is here codeup
1                              data scienc myth codeup
2    data scienc vs data analyt what the differ codeup
3    10 tip to crush it at the sa tech job fair codeup
4    competitor bootcamp are close is the model in ...
Name: title_tokenized, dtype: object

In [18]:
# apply to new columns
df['title_stemmed'] = df['title_tokenized'].apply(stem)

df['content_stemmed'] = df['content_tokenized'].apply(stem)

4. Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [19]:
# nltk.download('wordnet')

In [20]:
def lemmatize(string):
    '''
    Function takes in string
    Returns lemmatized string
    
    '''
    
    wnl = nltk.stem.WordNetLemmatizer()

    lemmas = [wnl.lemmatize(word) for word in string.split()]
    
    string_stemmed = ' '.join(lemmas)
    
    return string_stemmed

In [21]:
df['title_tokenized'].apply(lemmatize)

0    codeups data science career accelerator is her...
1                             data science myth codeup
2    data science v data analytics whats the differ...
3    10 tip to crush it at the sa tech job fair codeup
4    competitor bootcamps are closing is the model ...
Name: title_tokenized, dtype: object

5. Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

    - This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [46]:
def remove_stopwords(string, extra_words = [], exclude_words = []):
    '''
    This function takes in a string
    And returns the string with the English stopwords removed
    Add extra_words (list)
    or exclude_words (list)
    with the optional arguements
    
    -- This might break if the excluded words aren't in the stopwords list
    '''
    # define stopwords list                    # make sure you have the right stuff imported
    stopwords_list = stopwords.words('English')
    
    # add or remove words based on arguements
    stopwords_list = set(stopwords_list) - set(exclude_words) # the set removes words
    
    stopwords_list = stopwords_list.union(set(extra_words))
        
    # remove stopwords from string
    # turn string into list
    words = string.split()
    
    # remove the stopwords
    filtered_words = [w for w in words if w not in stopwords_list]
    
    # turn back into a string
    new_string = ' '.join(filtered_words)
    
    return new_string

In [53]:
string = 'hi my name is heather and i am a bad player in this game'

extra_words = ['hi']
exclude_words = ['my','is']

remove_stopwords(string, extra_words, exclude_words)

'my name is heather bad player game'

6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [38]:
# set up base url and categories list
base_url = 'https://inshorts.com/en/read'
categories = ['sports', 'entertainment', 'business', 'technology']

# get news dataframe 
news_df = acquire.get_blog_articles2()

7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [25]:
codeup_df = acquire.get_blog_articles()

8. For each dataframe, produce the following columns:
    - title to hold the title
    - original to hold the original article/post content
    - clean to hold the normalized and tokenized original with the stopwords removed.
    - stemmed to hold the stemmed version of the cleaned data.
    - lemmatized to hold the lemmatized version of the cleaned data.

In [27]:
# title
    # already there
    
# original content
codeup_df['original'] = codeup_df['content']

# clean (normalized, tokenized, no stopwords)
codeup_df['clean'] = codeup_df['content'].apply(basic_clean).apply(tokenize_me).apply(lambda x: remove_stopwords(x) )

# stemmed (version of clean)
codeup_df['stemmed'] = codeup_df['clean'].apply(stem)

# lemmatized (version of clean)

codeup_df['lemmatized'] = codeup_df['clean'].apply(lemmatize)

In [54]:
def prep_nlp(df, content = 'content', extra_words = [], exclude_words=[] ):
    '''
    This function takes in a dataframe and returns a dataframe with
    an original column
    a cleaned (normalized, tokenized and no stop words) column
    a stemmed column
    and a lemmatized column
    '''
    # original content
    df['original'] = df[content]
    
    #clean (normalized, tokenized, no stopwords)
    df['clean'] = df['content'].apply(basic_clean).apply(tokenize_me).apply(lambda x: remove_stopwords(x, extra_words, exclude_words))
    
    #stemmed (version of clean)
    df['stemmed'] = df['clean'].apply(stem)
    
    #lemmatized (version of clean)
    df['lemmatized'] = df['clean'].apply(lemmatize)
    
    return df

In [32]:
news_df.head()

,title,content,category
0,What was the pistol issue that cost Bhaker a s...,Manu Bhaker couldn't qualify for women's 10m A...,sports
1,Robot shoots perfect basketball throws during ...,Toyota's 'CUE' robot shot perfect free throws ...,sports
2,Video of young girl imitating Mirabai's Olympi...,A video of a young girl imitating weightlifter...,sports
3,World number 2 Osaka knocked out of Olympics b...,World number two women's tennis player Naomi O...,sports
4,23-year-old Indian boxer Lovlina Borgohain adv...,India's 23-year-old boxer Lovlina Borgohain st...,sports

In [41]:
df = prep_nlp(news_df)

In [42]:
df

,title,content,category,original,clean,stemmed,lemmatized
0,23-year-old Indian boxer Lovlina Borgohain adv...,India's 23-year-old boxer Lovlina Borgohain st...,sports,India's 23-year-old boxer Lovlina Borgohain st...,india ' 23yearold boxer lovlina borgohain star...,india ' 23yearold boxer lovlina borgohain star...,india ' 23yearold boxer lovlina borgohain star...
1,Chinese diplomats criticise use of 'ugly' pic ...,Chinese embassy in Sri Lanka criticised the us...,sports,Chinese embassy in Sri Lanka criticised the us...,chinese embassy sri lanka criticised use unfla...,chines embassi sri lanka criticis use unflatt ...,chinese embassy sri lanka criticised use unfla...
2,World number 2 Osaka knocked out of Olympics b...,World number two women's tennis player Naomi O...,sports,World number two women's tennis player Naomi O...,world number two women ' tennis player naomi o...,world number two women ' tenni player naomi os...,world number two woman ' tennis player naomi o...
3,Robot shoots perfect basketball throws during ...,Toyota's 'CUE' robot shot perfect free throws ...,sports,Toyota's 'CUE' robot shot perfect free throws ...,toyota ' ' cue ' robot shot perfect free throw...,toyota ' ' cue ' robot shot perfect free throw...,toyota ' ' cue ' robot shot perfect free throw...
4,What was the pistol issue that cost Bhaker a s...,Manu Bhaker couldn't qualify for women's 10m A...,sports,Manu Bhaker couldn't qualify for women's 10m A...,manu bhaker ' qualify women ' 10m air pistol f...,manu bhaker ' qualifi women ' 10m air pistol f...,manu bhaker ' qualify woman ' 10m air pistol f...
...,...,...,...,...,...,...,...
93,Russia blocks 49 sites linked to Putin critic ...,Russian internet regulator Roskomnadzor has bl...,technology,Russian internet regulator Roskomnadzor has bl...,russian internet regulator roskomnadzor blocke...,russian internet regul roskomnadzor block 49 w...,russian internet regulator roskomnadzor blocke...
94,Bengaluru ranks 8th in technology innovation h...,Bengaluru has been ranked eighth in the top 10...,technology,Bengaluru has been ranked eighth in the top 10...,bengaluru ranked eighth top 10 cities seen lea...,bengaluru rank eighth top 10 citi seen lead te...,bengaluru ranked eighth top 10 city seen leadi...
95,Goldman Sachs files to offer a crypto-related ...,Goldman Sachs Group's asset-management arm has...,technology,Goldman Sachs Group's asset-management arm has...,goldman sachs group ' assetmanagement arm file...,goldman sach group ' assetmanag arm file appli...,goldman sachs group ' assetmanagement arm file...
96,WeChat suspends new registrations in China for...,Tencent-owned WeChat has temporarily suspended...,technology,Tencent-owned WeChat has temporarily suspended...,tencentowned wechat temporarily suspended new ...,tencentown wechat temporarili suspend new user...,tencentowned wechat temporarily suspended new ...
97,PMC's General Body gives nod to e-bike renting...,Pune Municipal Corporation's General Body co-j...,technology,Pune Municipal Corporation's General Body co-j...,pune municipal corporation ' general body cojo...,pune municip corpor ' gener bodi cojointli gav...,pune municipal corporation ' general body cojo...

9. Ask yourself:

    - If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
        - I would use lemmatized. It's a little more precise even though it's computationally expensive
    - If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
        - It depends. If the stemmed text does the job I might use that, but if I can afford to lemmatize the text I might decide to go with that. Depends on the text I'm looking at
    - If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?
        - Stemmed, much less computationally expensive. Will